{% set class = "" %}
{% set style = "" %}
{% if package.branding %}
    {% set class = package.branding.vendor %}
{% else %}
    {% set class = "default-gradient" %}
{% endif %}
<div class="col-lg-2 col-md-4 package-teaser {{class}}">
    {% if package.branding %}
        <a href="{{ path('package', {'author': package.author, 'name': package.name })}}" title="{{ package.identifier }}">
            <img class="logo" src="{{ package.branding.getWebPath() | imagine_filter('my_thumb') }}" alt="logo for {{ package.identifier }}"/>
        </a>
    {% endif %}


    <h3>{{ stars(package.overallrating) }}<br />
        <a href="{{ path('package', {'author': package.author, 'name': package.name })}}">{{ package.identifier }}</a>
    </h3>
    <p>{{ package.description | e  | truncate(100)}}</p>
</div>