{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'metagist.org' %}

{% block content %}


{% for package in featured %}
    <div class="row">
        <div class="package-teaser" {% if package.image %}style="{{package.image.style}}"{% endif %}>
            <div class="pull-right">{{ stars(package.overallrating) }} | {{ symbols(package, 2) }}</div>
            {% if package.image %}
                <img class="logo" src="{{ package.image.getWebPath() | imagine_filter('my_thumb') }}" alt="logo for {{ package.identifier }}"/>
            {% endif %}
            
            <h3>
                <a href="{{ path('package', {'author': package.author, 'name': package.name })}}">{{ package.identifier }}</a>
            </h3>
            <p>{{ package.description | e  | truncate(100)}}</p>
        </div>
    </div>
{% endfor %}
    
{% endblock %}