{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'metagist.org' %}

{% block content %}

{% for metainfo in featured %}
    <div class="content">
        <h3>Featured: {{ metainfo.getPackage|e }} </h3>
        <p>{{ metainfo.value|e }}</p>
    </div>
    <h4>{{ metainfo.getPackage|e }} 
        <a href="{{ path('package', {'author': package.author, 'name': package.name })}}"><i class="icon icon-arrow-right"></i> </a>
    </h4>
    <p>{{ metainfo.getPackage.getDescription|e }}</p>
{% endfor %}

<div class="row">
    {% for package in packages %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://lorempixel.com/200/200/?{{ random() }}" alt="placeholder" class="img-rounded"/>
                <div class="caption">
                    <h3><a href="{{ path('package', {'author': package.author, 'name': package.name })}}">{{ package }}</a></h3>
                    <p>{{ package.description | e  | truncate(50)}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    
{% endblock %}