{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'metagist.org - Latest updates' %}

{% block content %}
<div class="row padded default-gradient">
{% if latestRatings %}
    <h1>Recently on Metagist</h1>
    {% for rating in latestRatings %}
    {% include 'MetagistServerBundle::ratingteaser.html.twig' with {'rating': rating} %}
    {% endfor %}
{% endif %}
</div>
<div class="row padded default-gradient">
        <div class="span6">
            <h2>Latest Updates</h2>
            <ul class="unstyled">
                {% for metainfo in latestUpdates %}
                    <li class="{{ metainfo.getGroup }}">
                        <strong>{{ icon(metainfo.getGroup) }} {{ (metainfo.getGroup)|trans }}:</strong>  {{ renderInfo(metainfo) }}
                        <a href="{{ path('package', {'author': metainfo.package.author, 'name': metainfo.package.name}) }}" title="{{ metainfo.package.getIdentifier|e }}">
                            <i class="icon icon-arrow-right"></i> {{ metainfo.package }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
</div>
        
    
{% endblock %}