{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'metagist.org on ' ~ package %}

{% block content %}
{% if package.branding%}
    {% set class = package.branding.vendor %}
{% else %}
    {% set class = "default-gradient" %}
{% endif %}
<div class="row padded {{class}}">
    {% if package.branding %}
        <img class="logo" src="{{ package.branding.getWebPath() | imagine_filter('my_thumb') }}" alt="logo for {{ package.identifier }}"/>
    {% endif %}
    <br />

    <h1>{{ stars(package.overallrating) }} {{package.getIdentifier}}</h1>
    <p>{{package.description}}</p>
    {% for metainfo in package.metainfos %}
    {{ renderInfo(metainfo) }}
    {% endfor %}
    <br /><br />

    <!-- links -->
    <a class="btn btn-default" href="http://packagist.org/packages/{{package.identifier}}"><i class="icon-archive"></i> at Packagist.org</a>
    {% set urlMetainfos = ['homepage', 'repository', 'travis'] %}
    {% for group in urlMetainfos %}
        {% set url = package.getMetaInfos(group).first %}
        {% if url %}
            <a class="btn btn-default" href="{{ url.getValue }}"> {{ group | trans }}</a>
        {% endif %}
    {% endfor %}
    <br /><br />
    
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            {% if (is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')) %}
            <li><a class="btn btn-block" href="{{ path('rate', {'author': package.author, 'name': package.name })}}"><i class="fa fa-star-o"></i> Rate this package</a></li> 
            <li><a class="btn btn-block" href="{{ path('contribute-list', {'author': package.author, 'name': package.name })}}"><i class="fa fa-edit"></i> Contribute</a></li>
            {% else %}
            <li><a class="btn btn-block" href="{{ path('github_login')}}"><i class="icon-white icon-rocket"></i> Contribute</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a class="btn btn-block" href="{{ path('admin_update', {'author': package.author, 'name': package.name })}}"><i class="fa fa-refresh"></i> Update</a>
            </li>
            <li>
                <a class="btn btn-block" href="{{ path('admin_packages_edit', {'id': package.id })}}"><i class="fa fa-cogs"></i> Edit</a>
            </li>
            {% endif %}
        </ul>
    </nav>
            
    <h2>Reviews</h2>
    <div class="row">
    {% for rating in ratings %}
    {% include 'MetagistServerBundle::ratingteaser.html.twig' with {'rating': rating} %}
    {% endfor %}
    </div>
            
    <h2>Dependencies</h2>
    <div class="row padded">
        {% for dep in dependencies %}
            {% if dep.name %}
                {% include 'MetagistServerBundle::packageteaser.html.twig' with {'package': dep} %}
            {% endif %}
        {% endfor %}
    </div>
    
    {% if consumers | length %}
        <h2>Packages using {{package}}</h2>
        <div class="row padded">
        {% for cons in consumers %}
            {% include 'MetagistServerBundle::packageteaser.html.twig' with {'package': cons.package } %}
        {% endfor %}
        </div>
    {% endif %}

        
    Last updated: {{ package.getTimeUpdated |date('d-m-Y') }}    
</div>          

            

{% endblock %}
