{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'metagist.org - My Profile' %}

{% block content %}
<div class="row default-gradient padded">
    <h1><img src="{{user.getAvatarUrl}}" alt="User icon" title=" Role: {{ user.role | trans }}"/> {{ user.getUsername }}</h1>
    
   
    <h2>Ratings</h2>
</div>

{% for rating in ratings %}
    {% set package = rating.package %}
    {% set class = "" %}
    {% if package.branding %}
        {% set class = package.branding.vendor %}
    {% else %}
        {% set class = "default-gradient" %}
    {% endif %}
    <div class="row package-teaser {{class}}">
        <div class="col-md-3 col-lg-2">
            {% if package.branding %}
            <img class="logo" src="{{ package.branding.getWebPath() | imagine_filter('my_thumb') }}" alt="logo for {{ package.identifier }}"/>
            <br /><br />
            {% endif %}
            <a href="{{ path('package', {'author': package.author, 'name': package.name })}}">{{ package.identifier }}</a>
        </div>
        <div class="col-md-9 col-lg-10">
            <h3>{{ stars(rating.rating) }}<br />{{ rating.title}}</h3>
            <p>{{ rating.comment }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}
