{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'metagist.org - ratings for ' ~ package %}

{% block content %}
<div class="item item-blue">
    <div class="content">
    <div class="page-header">
        <h1>Ratings and Reviews for<br />{{package}}<br /></h1>
        <a class="btn" href="{{ path('package', {'author': package.author, 'name': package.name })}}"><i class="icon-backward"></i> back</a> 
        <a class="btn btn-primary" href="{{ path('rate', {'author': package.author, 'name': package.name })}}"><i class="icon-white icon-star"></i> Rate this package</a>
    </div>
    
    {% for rating in ratings %}
            <div class="panel">
                <div class="panel-heading">{{ stars(rating.rating) }} {{ rating.title | e}}</div>
                <div class="panel-body row">
                    <div class="col-md-1">
                        <a href="{{ path('user', {'name': rating.user.username}) }}">
                            <img src="{{rating.user.getAvatarUrl}}" alt="by {{rating.user.getUsername}}" class="img-rounded" /><br />
                        </a>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <p>{{rating.comment | e}}</p>
                    </div>
                </div>
            </div>
            
    {% endfor %}

    {{ pagination|raw }}
                
    </div>    
</div>
{% endblock %}
