{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'metagist.org - ratings for ' ~ package %}

{% block content %}
{% set class = "" %}
{% set style = "" %}
{% if package.image and package.image.style != "" %}
    {% set style = package.image.style %}
{% else %}
    {% set class = "default-gradient" %}
{% endif %}
<div class="row package {{class}}" {% if style %}style="{{style}}"{% endif %}>
    <div class="page-header">
        <h1>Ratings and Reviews for<br />
            <a href="{{ path('package', {'author': package.author, 'name': package.name })}}">{{package}}</a>
        </h1>
        <a class="btn btn-primary" href="{{ path('rate', {'author': package.author, 'name': package.name })}}"><i class="icon-white icon-star"></i> Rate this package</a>
    </div>
    
    {% for rating in ratings %}
            <div class="panel">
                <div class="panel-heading">{{ stars(rating.rating) }} {{ rating.title | e}}</div>
                <div class="panel-body row">
                    <div class="col-md-1">
                        <a href="{{ path('user', {'name': rating.user.username}) }}">
                            <img src="{{rating.user.getAvatarUrl}}" alt="by {{rating.user.getUsername}}" class="img-rounded" /><br />
                        </a>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <p>{{rating.comment | e}}</p>
                    </div>
                </div>
            </div>
            
    {% endfor %}

    {% if ratings | length == 0 %}
        No reviews found.
    {% endif %}
                
</div>
<div class="row">
    {% if ratings | length %}
        <nav class="navbar navbar-inverse navbar-static-top pagination-nav" role="navigation">
            <ul class="nav navbar-nav">
                {{ pagination|raw }}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}
