{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'Style ' ~ package %}

{% block content %}
{% set class = "" %}
{% set style = "" %}
{% if package.image and package.image.style != "" %}
    {% set style = package.image.style %}
{% else %}
    {% set class = "default-gradient" %}
{% endif %}
<div class="row package {{class}}" {% if style %}style="{{style}}"{% endif %}>
    
    
    {% if package.image %}
    <img class="logo" src="{{ package.image.getWebPath() | imagine_filter('my_thumb') }}" alt="logo for {{ package.identifier }}"/>
    {% endif %}
    <h1>Upload an image for {{package.author}}/{{package.name}}</h1>

    <form action="" method="post" role="form" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.file) }}
        {{ form_rest(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ 'Send'|trans }}</button>
            <a href="{{ path('package', {'author': package.author, 'name': package.name})}}" class="btn">{{ 'Cancel'|trans }}</a>
        </div>
    </form>
</div>
{% endblock %}
