{% extends 'MetagistServerBundle::layout.html.twig' %}
{% set pagetitle = 'Edit branding' %}

{% block content -%}
<div class="row {{ entity.vendor }} padded">
    {% if entity.getWebPath() %}
    <img class="logo" src="{{ entity.getWebPath() | imagine_filter('my_thumb') }}"/>
    {% endif %}
    <h1>Edit "{{ entity.vendor }}" Branding</h1>

    {{ form(edit_form) }}

        <a class="btn btn-default" href="{{ path('admin_branding') }}">Back to the list</a>
    {{ form(delete_form) }}
</div>
{% endblock %}
